* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 720px;
  margin: auto;
  height: 100vh;
  padding: 0px 16px;
}
.boards {
  display: flex;
  gap: 16px;
  padding: 120px 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.board {
  width: 160px;
  height: 107.2px;
  background-color: #ebecf0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
